// Here you can add other styles

// Dark mode custom
// 왼쪽 위 배너
.c-sidebar .c-sidebar-brand, .c-sidebar .c-sidebar-header {
  background: rgba(0, 0, 21, 2);
}

.c-app{
  color: #f5f5f5;
  background-color: #0a0b18;
  --color: #e1e1e1;
}
.c-header{
  background-color: #2c2c34;
  border-bottom: 1px solid #181924;
}
.c-subheader{
  background-color: #2c2c34;
}
.c-header .c-header-toggler-icon {
  background-image: url(data:image/svg+xml;charset=utf8;base64,PHN2ZyB2aWV3Qm94PScwIDAgMzAgMzAnIHhtbG5zPSdodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2Zyc+PHBhdGggc3Ryb2tlPSdyZ2JhKDI1NSwyNTUsMjU1LDAuNzUpJyBzdHJva2Utd2lkdGg9JzIuMjUnIHN0cm9rZS1saW5lY2FwPSdyb3VuZCcgc3Ryb2tlLW1pdGVybGltaXQ9JzEwJyBkPSdNNCA3aDIyTTQgMTVoMjJNNCAyM2gyMicvPjwvc3ZnPg==);
}

.c-header .c-header-nav .c-header-nav-link, .c-header .c-header-nav .c-header-nav-btn {
  color: hsla(0,0%,100%,.75);
}

a {
  color: #7267d3;
}

.c-header .c-subheader {
  margin-top: -1px;
  border-top: 1px solid #181924;
}

.c-subheader .c-subheader-nav .c-subheader-nav-link, .c-subheader .c-subheader-nav .c-subheader-nav-btn{
  color: hsla(0,0%,100%,.9);
}
.card{
  background-color: #23242d;
  border-color: #0a0b18;
}
.card-footer {
  background-color: #20202a;
  border-color: #181924;
}
.card-header {
  background-color: #20202a;
  border-color: #181924;
}
.progress {
  background-color: hsla(0,0%,100%,.2);
}

.btn-outline-secondary {
  color: #4c4f54;
  border-color: #4c4f54;
}
.btn-outline-secondary:not(:disabled):not(.disabled).active,  .btn-outline-secondary:not(:disabled):not(.disabled):active {
  color: #fff;
  background-color: #4c4f54;
  border-color: #4c4f54;
}

// table
.table-outline {
  border-color: hsla(0,0%,100%,.1);
}

.table {
  color: #e1e1e1;
  background-color: transparent;
}

.table .thead-light th {
  color: #e1e1e1;
  background-color: hsla(0,0%,100%,.05);
  border-color: hsla(0,0%,100%,.1);
}

.table td, .c-dark-theme .table th {
  border-top-color: hsla(0,0%,100%,.1);
}

.c-footer {
  color: #e1e1e1;
  background: #1e1e29;
  border-top: 1px solid #181924;
}


// side-bar
.c-sidebar {
  color: #e1e1e1;
  background: #2c2c34;
  border: 0;
}

